doctype html
html(lang="en")
    head

        //- Include Meta
        include ../../partials/meta

    body

    //- Include Header
    include ../../partials/header


    div.single-artist
        h2 Jakub Glinski
        p.work.active work
        p.bio biography
        p.col collections


        div.single-artist--content.active
            div.single-artist--gallery
                img(src=require("../../assets/img/Jakub/few-hundres.jpg") alt="A few hundred atmosphere - 2017 / 400x250 cm / acrylic and spray on canvas")
                p.image--description A few hundred atmosphere - 2017 / 400x250 cm / acrylic and spray on canvas


            div.single-artist--images
                div
                    img(src=require("../../assets/img/Jakub/few-hundres.jpg") alt="A few hundred atmosphere - 2017 / 400x250 cm / acrylic and spray on canvas")
                div
                    img(src=require("../../assets/img/Jakub/first-date.jpg") alt="The first date / 2013; 62x60 cm / mixed media on spring from the bed")
                div
                    img(src=require("../../assets/img/Jakub/pokemon-terror.jpg") alt="Pokemon Terror - 2016 /  200x150 cm / acrylic and spray on canvas")
                div
                    img(src=require("../../assets/img/Jakub/tectonic-plates.jpg") alt="Tectonic plates of shit - 2014 / 100x100 cm / mixed technique on canvas")

                div
                    img(src=require("../../assets/img/Jakub/aids.png") alt="AIDS - 2016 / 130 x 200 cm / mixed media on quilt")




        div.single-artist--text
            p Painter, performer, experimental musician Jakub Glinski started his career as a experimental music producear oscillating around genre of noise under the name of JESUS IS A NOISE COMMANDER. Since the very beginning Glinski was focused on the performative aspects of his projects, avoiding long-plays and album formats. He performed in Poland as well as abroad in countries such as Great Britaain, Ireland, Holland and Czech Republic. Visuals played an integral part of his performances - mainly in the form of his outfits which conveyed trashy aesthetics - such as the as the rabbit costume - remade and developed by adding different forms of waste and spoilage. His music performances are impressively engaging for the public, giving a certain amount of control back to the crowd to shape its final form. Since 2013 Glinski's sonic and performative work has started to merge with paiting elements. Similary as with his music shows, the artist always emphasized the gesture and non finished artifact, very often destroying his paitings in the gallery spaces the seconds after the show was over. The aesthetics of the neglected public space full of devastated elements of the urban infrastructure and awkward graffiti harmonise in Glinski's paintings together with his personal experiences. Usually they are merged with the element of uncontrolled expression under the influence of various drugs experiments as well as different techniques and elements learned by Glinski when he used to work as a construction worker and 3D prints specialist. Industrial elements of Glinski's work are far from subtle and minimal compositions of the likes of Anthony Caro, accenting the precariat and balancing on the edge of decay, always emphasized by his tools, such as montage foam or broken mattress stellars. The foundation of his work is based on the confrontation of apparently contrary strategies and aesthetics, emerging from the surrealistic automatism and abstract expressionism to classic minimalism, all filtered by the reality of growing up in post soviet and late capitalistic realities. Glinski is also a creator of projects: Jakub Glinski & PURGIST, KURT, Too Empty To Poo, BOOM FOR GABBA, Cocaine Is Everything, Igenn New, Space Monkeys.

        div.single-artist--collections
            div.single-artist--gallery
                img(src=require("../../assets/img/Jakub/collections/aids.jpg") alt="AIDS 2016 / 130 x 200 cm / mixed media on quilt / Laundrette /Bermondsey")
                p.image--description AIDS 2016 / 130 x 200 cm / mixed media on quilt / Laundrette /Bermondsey


            div.single-artist--images
                div
                    img(src=require("../../assets/img/Jakub/collections/aids.jpg") alt="AIDS 2016 / 130 x 200 cm / mixed media on quilt / Laundrette /Bermondsey")
                    p.image--description AIDS 2016 / 130 x 200 cm / mixed media on quilt / Laundrette /Bermondsey
                div
                    img(src=require("../../assets/img/Jakub/collections/crossing_the_chasm.jpg") alt="Crossing the chasm 2017 / 220 x140cm acrylic and spray on canvas / EMR Wandsworth")
                    p.image--description Crossing the chasm 2017 / 220 x140cm acrylic and spray on canvas / EMR Wandsworth
                div
                    img(src=require("../../assets/img/Jakub/collections/defloration.jpg") alt="Defloration 2014 / 100 x 140 cm / mixed media on canvas / Somerset Estate / Battersea")
                    p.image--description Defloration 2014 / 100 x 140 cm / mixed media on canvas / Somerset Estate / Battersea
                div
                    img(src=require("../../assets/img/Jakub/collections/progressive_loss_of_consciousness.jpg") alt="Progressive Loss of Consciousness 2016 / 170 x 200 cm / acrylic and spray on canvas / Richmond Park")
                    p.image--description Progressive Loss of Consciousness 2016 / 170 x 200 cm / acrylic and spray on canvas / Richmond Park
                div
                    img(src=require("../../assets/img/Jakub/collections/prosectorium.jpg") alt="Prosectorium  2017 / 220 x 140 cm / acrylic and spray on canvas / Waterloo Station")
                    p.image--description Prosectorium  2017 / 220 x 140 cm / acrylic and spray on canvas / Waterloo Station
                div
                    img(src=require("../../assets/img/Jakub/collections/ropownica.jpg") alt="Ropownica 2013 / 130 x 190 cm / mixed media on canvas / York House")
                    p.image--description Ropownica 2013 / 130 x 190 cm / mixed media on canvas / York House
                div
                    img(src=require("../../assets/img/Jakub/collections/sick.jpg") alt="Sick, Addicted Mind 2017 / 230 x 140 cm / acrylic and spray on canvas / New Oleans House Gallery")
                    p.image--description Sick, Addicted Mind 2017 / 230 x 140 cm / acrylic and spray on canvas / New Oleans House Gallery
                div
                    img(src=require("../../assets/img/Jakub/collections/strong_chemicals.jpg") alt="Strong Chemicals 2017 / 230x130cm / acrylic and spary on canvas / London Bridge")
                    p.image--description Strong Chemicals 2017 / 230x130cm / acrylic and spary on canvas / London Bridge
                div
                    img(src=require("../../assets/img/Jakub/collections/tectonic_plates.jpg") alt="Tectonic Plates of Sh/t 2014 / 100 x 100 cm / mixed media on canvas / Vauxhall")
                    p.image--description Tectonic Plates of Sh/t 2014 / 100 x 100 cm / mixed media on canvas / Vauxhall
                div
                    img(src=require("../../assets/img/Jakub/collections/where_am_i.jpg") alt="Where am I/ Where am I supposed to go/ 2014 / 80 x100 cm / mixed media / Richmond Park")
                    p.image--description Where am I/ Where am I supposed to go/ 2014 / 80 x100 cm / mixed media / Richmond Park