doctype html
html(lang="en")
    head

        //- Include Meta
        include ../../partials/meta

    body

    //- Include Header
    include ../../partials/header


    div.single-artist
        h2 Tomas Auksas
        p.work.active work
        p.bio biography


        div.single-artist--content.active
            div.single-artist--gallery
                img(src=require("../../assets/img/Tomas/living-on-the-edge.jpeg") alt="Living on the edge. - unreleased Mexico")
                p.image--description Living on the edge. - unreleased Mexico


            div.single-artist--images
                div
                    img(src=require("../../assets/img/Tomas/living-on-the-edge.jpeg") alt="Living on the edge. - unreleased Mexico")
                div
                    img(src=require("../../assets/img/Tomas/david-hockney.jpeg") alt="David Hockney, photo by Tomas Auksas Artistry Technology film")
                div
                    img(src=require("../../assets/img/Tomas/climate.jpeg") alt="In this Climate")
                div
                    img(src=require("../../assets/img/Tomas/creative-director-liberatum.jpeg") alt="Creative director LIBERATUM")




        div.single-artist--text
            p Tomas Auksas is a twenty six year old filmmaker, artist and the creative director of the global cultural diplomacy organisation Liberatum. Wallpaper magazine has described him as a "polymath". Auksas' themes often focus on social stigmas, minorities and global issues that effect humanity and life on earth. Since 2009, he has worked on impactful and compelling cultural endeavours and creative projects across the world, primarily with Liberatum. His creative work has been covered by leading publications globally such as The Guardian, Vice, Vanity Fair, Vogue, Dazed and Confused, Forbes and Fast Company. Some of the luminaries he has interviewed and filmed include Nicole Kidman, Sir David Attenborough, Cher, Susan Sarandon, Pele, Tracey Emin and David Hockney on topics related to women empowerment, creativity and climate change. He is a co- director of the 2017 environmental feature documentary "In This Climate" that features Noam Chomsky, Deepak Chopra, Mark Ruffalo, Marina Abramovic among many others. "In This Climate" has been included in the United Nations Education Program. Auksas is also an activist working on humanitarian initiatives with the Liberatum Foundation to educate the public and promote acceptance of marginalised people within our society as well as helping impoverished communities through art and culture. From transgender and intersex rights in Latin America to a recent film about young people with disabilities living in a mental asylum in Eastern Europe, he continues to break taboos, open minds and educate society. Auksas was born in Lithuania and raised in the United Kingdom.